<!--
  Generated template for the MyHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Mes monuments visités
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngIf="visitedMonuments != null || visitedMonuments.lenght > 0; else noMonument">
    <ion-list>
      <ion-row *ngFor="let monument of visitedMonuments">
        <ion-col>
          <ion-item>
            <ion-card-header text-center>
              <h2>{{monument.commune}}</h2>
            </ion-card-header>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-card>
  <ng-template #noMonument>
    <ion-card>
      <ion-card-content text-center>
        <ion-list>
          <ion-row>
            <ion-col>
              <h1>Vous n'avez pas de monuments visités !</h1>
              <h1>Allez et marquez les monuments que vous avez visité</h1>
              <ion-icon name="walk" class="large"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>